.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.headerimg{
  height: 620px !important;
  width: 100% !important;
}

.headerimg img{
  height: 100% !important;
  width: 100% !important;
}

.categoryrow{
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 12px !important;
}


.cardimg{
  height: 195px !important;
  width:  198px !important;
}

.cardimg img{
  height: 100% !important;
  width: 100% !important;
}